<header id="logo">
  <a href="/" title="{{ site.title }}">
    <h1>{{ site.title }}</h1>
  </a>
</header>

<header id="strapline">
  <a href="/" title="{{ site.title }}">
    <h2>{{ site.strapline }}</h2>
  </a>
</header>

<nav id="menu">
  <h3>Menu</h3>
  <ul>
    <li>Menu 1</li>
    <li>Menu 2</li>
    <li>Menu 3</li>
    <li>Menu 4</li>
    <li>Menu 5</li>
    <li>Menu 6</li>
    <li>Menu 7</li>
    <li>Menu 8</li>
    <li>Menu 9</li>
  </ul>
</nav>

<aside id="info">
  <h3>Information</h3>
  <ul>
    <li>Info 1</li>
    <li>Info 2</li>
    <li>Info 3</li>
    <li>Info 4</li>
    <li>Info 5</li>
  </ul>
</aside>
