<div id="header">
  <header id="logo">
    <a href="/" title="{{ site.title }}">
      <h1>{{ site.title }}</h1>
    </a>
  </header>

  <header id="strapline">
    <a href="/" title="{{ site.title }}">
      <h2>{{ site.strapline }}</h2>
    </a>
  </header>
  
  <aside id="info">
    <h3>Cos cumparaturi</h3>
    <ul>
      <li>2 in cos, 1290 RON</li>
      <li>Tel: 0740-456.127</li>
    </ul>
  </aside>

  <nav id="menu">
    <h3>Categorii cadouri</h3>
    <ul>
      <li>Gadget</li>
      <li>Gizmo</li>
      <li>Lifestyle</li>
      <li>Self Care</li>
      <li>Eco</li>
      <li>Ceasuri</li>
      <li>Doar copii</li>
      <li class="last">Toate cadourile</li>
    </ul>
  </nav>

  <nav id="navigation">
    <h3>Navigare si cautare cadouri</h3>
    <ul>
      <li>Noutati</li>
      <li>Bestsellers</li>
      <li>Reduceri</li>
      <li class="last">Cautare</li>
    </ul>
  </nav>
</div>
