<header id="logo">
  <a href="/" title="{{ site.title }}">
    <h1>{{ site.title }}</h1>
  </a>
</header>

<header id="strapline">
  <a href="/" title="{{ site.title }}">
    <h2>{{ site.strapline }}</h2>
  </a>
</header>

<nav id="menu">
  <h3>Navigare si cautare cadouri</h3>
  <ul id="main-categories">
    <li>Gadget</li>
    <li>Gizmo</li>
    <li>Lifestyle</li>
    <li>Self Care</li>
    <li>Eco</li>
    <li>Ceasuri</li>
    <li>Doar copii</li>
    <li>Toate cadourile</li>
  </ul>
  
  <ul id="meta-categories" class="last">
    <li>Noutati</li>
    <li>Bestsellers</li>
    <li>Reduceri</li>
    <li>Cautare</li>
  </ul>
</nav>

<aside id="info">
  <h3>Cos cumparaturi</h3>
  <ul>
    <li>2 cadouri in cos, 1290 RON</li>
    <li>Tel: 0740-456.127</li>
    <li>Informatii</li>
  </ul>
</aside>
