@media only screen and (max-width: 600px) {
  /* line 58, mixins.scss */
  .mobile {
    display: block;
  }

  /* line 61, mixins.scss */
  .desktop {
    display: none;
  }
}
@media only screen and (min-width: 601px) {
  /* line 66, mixins.scss */
  .mobile {
    display: none;
  }

  /* line 69, mixins.scss */
  .desktop {
    display: block;
  }
}
/* line 78, mixins.scss */
img {
  max-width: 100%;
}
