body {
  .container {
    width: 100%;
    margin: 0 auto;
    position: relative;
    
    #logo {
      @include block;  
      position: fixed; 
      
      h1 {
        padding: $pad/2;
        font-size: 100%;
      }   
    }
    
    #strapline {
      @include block;
      margin-top: $pad*2;
      
      h2 {
        padding: $pad/4;
      }
    }
    
    #menu {
      @include block;
      
      ul {
        @include col(15%, 0, 10%);
      }
      ul.last {
        margin-right: 0;
      }
    }
    
    #info {
      @include col($major, $minor, 0);
      @include z-index(1, $pad);
      padding: $pad/2 0;
      
      position: fixed;
      top: 0;
      
      
      h3 {
        display: none;
      }
      
      ul {
        @include list-inline($pad);
      }
    }
    
    #content {
      @include col($major, $minor, 0);
      
      position: absolute;
      top: $pad*2;
      
      h3 {
        display: none;
      }
      
      article {
               
        #title {
          display: none;
        }
        
        #body {
         
        }
      }
    }
    
    #sidebar {
      @include col($minor, 0, 0);
    }
  }
}

