#logo {
  background: lightblue;
}

#strapline {
  background: lightcoral;
}

#menu {
  background: lightcyan;
}

#info {
  background: lightgray;
}

#content {
  background: lightgreen;
}

#sidebar {
  background: lightpink;
}
